.CONTAINER_HEADER {
  width: 100%;
  height: 400px;
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  background-position: bottom center;
}

.CONTAINER_HEADER img {
  width: 25rem;
  height: 11rem;
}

#SHOW_HIDE_CHARACTERS {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

footer {
  text-align: center;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 12px;
}
