.CONTAINER_CARDS_APP {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CONTAINER_BUTTONS {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.CONTAINER_BUTTONS p {
  margin: 0;
}

.CONTAINER_BUTTONS button {
  background-color: rosybrown;
  border-style: none;
  border-radius: 12px;
  padding: 8px;
  cursor: pointer;
}
