.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.05);
        background-color: rgba(255, 255, 0, 0.811);
        color: black;
    }
}

ul{
    display: grid   ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap:15px;
    padding: 0;
    list-style: none;

}


ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    gap: 4px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.05);
    }   
}

    


ul img{

    width: 100%;
    height: 100%;
    object-fit: cover;
  
}