.CONTAINER_CARDS_APP {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.CONTAINER_BUTTONS {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.CONTAINER_BUTTONS p {
  margin: 0;
}

.CONTAINER_BUTTONS button {
  background-color: rosybrown;
  border-style: none;
  border-radius: 12px;
  padding: 8px;
  cursor: pointer;
}
