article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Arial, sans-serif;
}
article h1 {
  text-align: center;
  font-size: 22px;
}
article p {
  text-align: center;
  margin-top: 10px;
}

article h3 {
  font-size: 13px;
  text-align: center;
}
.CONTAINER_PHRASES {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article #BUTTON_PHRASES {
  color: white;
}
article img {
  width: 200px;
}
